
<!--each product has id,name,price,description-->
<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
 <!--html tag with dynamic title attribute-->
 <!--details is a fixed word-->
  <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description"><!--if true then product description gets shown-->
    Description: {{ product.description }}
  </p>

  <button type="button" (click)="share()">
    Share
  </button>
  <!--Finally, to display ProductAlertsComponent as a child of ProductListComponent,
     add the <app-product-alerts> element to product-list.component.html. Pass the
     current product as input to the component using property binding.-->
     
<!-- "app-product-alerts" component,is passed the current product object as an input property.-->
<app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
</app-product-alerts>
</div>